main {
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/backSession.jpg");
    background-size: cover;
    background-position: center;
    padding: 3%;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
}