#presentation {
    background-image: url("../images/presentationApp.jpg");
    background-size: cover;
    background-position: center;
    padding: 20%;
}

img {
    width: 30%;
}

#img {
    width: 100%;
}

@media (max-width: 985px) {
    #presentation {
        padding-bottom: 40%;
    }
}